@{
    ViewBag.Title = "Práctica EMS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="text-align:justify">
    Los alumnos de EMS han realizado un proceso de ingeniería inversa para recuperar la documentación perdida (requisitos y diseño) de la aplicación de gestión de la información académica de asignaturas
    de la escuela cuyo código se les proporcionó. 

<p style="text-align:justify">
    Una vez analizada la aplicación heredada o legada, la escuela decide, por diversas razones, que necesita llevar al cabo un proceso de reingeniería que incluya cambios de funcionalidad y una migración
    de plataforma tecnológica de la aplicación. 
</p>
<p style="text-align:justify">
    Por tanto, se nos plantea un proyecto de migración. Es un proyecto complejo, ya que este sistema soporta el 100% de los profesores y asignaturas de la ETSISI, y se considera un sistema de misión crítica.
    Por tanto, se necesita idear una estrategia de desarrollo del proyecto que permita un proceso de transición gradual del sistema legado al nuevo sistema con los recursos técnicos disponibles y con el
    menor impacto posible. 
</p>
<p style="text-align:justify">
    Se pide a los alumnos realicen:
    <ol>
        <li>
            Un plan de migración con los principales puntos (ver anexo 1). Ese plan debe incluir un 
            análisis de los métodos/estrategias para afrontar un proceso de migración y la elección 
            de un método justificando su adecuación al proyecto de migración objetivo teniendo en 
            cuenta la criticidad del sistema. También se debe justificar si el equipo va a adoptar un 
            ciclo de desarrollo de la nueva aplicación cascada, iterativo e incremental, u otro.  
        </li>
        <li>
            Proyecto de migración. Diseño y desarrollo de una aplicación web (multidispositivo). La 
            reestructuración  arquitectónica  implícita  lleva  consigo  también  una  migración 
            tecnológica.  Se  propone  el  reto  de  migrar  de  tecnología  Java  a tecnología  .NET  (ver 
            anexo 2). 
        </li>
   </ol>
</p>
<p>
    Esta web es la aplicación pedida.
</p>


