@{
    ViewBag.Title = "Contacto";
}
 <h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad Politécnica de Madrid, Calle de Alan Turing<br />
    s/n, 28031 Madrid<br />
    <abbr title="Phone">913 36 75 23</abbr>
    
</address>

<address>
    <strong>Creator:</strong>   <a href="mailto:albertoo.marcos@gmail.com">albertoo.marcos@gmail.com</a><br />
    <strong>Second creator:</strong> <a href="mailto:alberto.mblasco@alumnos.upm.es">alberto.mblasco@alumnos.upm.es</a>
</address>