@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad Politécnica de Madrid, Campus Sur<br />
    Madrid, Madrid, 28031<br />
    <abbr title="Teléfono"> 913 36 62 26</abbr>
</address>

<address>
    <strong>Alberto Marcos Blasco - bl0053: </strong>   <a href="mailto:alberto.mblasco@alumnos.upm.es">alberto.mblasco@alumnos.upm.es</a><br />
    <strong>David Herrero Pascual - bl0572:</strong> <a href="mailto:d.herrerop@alumnos.upm.es">d.herrerop@alumnos.upm.es</a>
    <strong>Antonio Castro Blanco - bl0527:</strong> <a href="mailto:d.herrerop@alumnos.upm.es">d.herrerop@alumnos.upm.es</a>
    <strong>Alberto Puerto Núñez - bm0326:</strong> <a href="mailto:alberto.puerto.nunez@alumnos.upm.es">alberto.puerto.nunez@alumnos.upm.es</a>
</address>