@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Práctica EMS</h1>
</div>

<div class="row">
    <div style="text-align:center" class="col-md-4" >
        <h2>Gestión de profesores</h2>
        <p>
            <img class="centrada" src="~/Imagenes/Teachers-icon.png" height="200" width="200" />
        </p>
    </div>
    <div style="text-align:center"  class="col-md-4">
        <h2>Gestión de alumnos</h2>
        <p>
            <img src="~/Imagenes/cap (1).png" height="200" width="200" />
        </p>
    </div>
    <div style="text-align:center" class="col-md-4">
        <h2>Gestión Evaluaciones</h2>
        <p>
            <img src="~/Imagenes/file.png" height="200" width="200"/>
        </p>
    </div>
</div>